{% block header %}
<header>
    <div id="wrapper">

        <nav>

            <div class="nav__logo">


                <img src="{{ url_for('static', path='img/airrey_logo.svg') }}" alt="Logo">

            </div>

            <button class="btn">

                <span><i><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                            width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                        </svg></i></span>
            </button>
            <div class="nav__menu">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav end">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Operaciones</a>
                        <a class="nav-link" href="#">Ventas</a>
                        <a class="nav-link" href="#">Recursos Humanos</a>
                        <a class="nav-link" href="#">Jurídico</a>
                        <a class="nav-link" href="#">TI</a>
                        <a class="nav-link" href="#">Calidad</a>
                        <a class="nav-link" href="#">Marketing</a>
                        <a class="nav-link" href="#">Finanzas</a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>
{% endblock %}