{% block servicios %}
<section>
    <div class="contenido" id="servicios">

        <div class="tarjeta">
            <div class="textoTarjeta">
                <a href="#">
                    <h2>Organigrama</h2>

                </a>
            </div>
        </div>

        <div class="tarjeta">
            <div class="textoTarjeta">
                <a href="#">
                    <h2>Avisos Urgentes</h2>
                </a>
            </div>
        </div>

        <div class="tarjeta">
            <div class="textoTarjeta">
                <a href="#">
                    <h2>Códigos de Identidad</h2>
                </a>
            </div>
        </div>

        <div class="tarjeta">
            <div class="textoTarjeta">
                <a href="#">
                    <h2>Cumpleaños</h2>
                </a>
            </div>
        </div>

        <div class="tarjeta">
            <div class="textoTarjeta">
                <a href="#">
                    <h2>Calendario</h2>
                </a>
            </div>
        </div>

</section>
{% endblock %}