{% extends "components/layout.html" %} {% block title %}Mi Cuenta{% endblock %} {% block content %}
<div class="wrapper">
    <div class="">
        <h1>AirRey My User Profile</h1>
    </div>

    <section class="userProfile">
        <div class="userProfile__card">
            <ul>
                <li>Name</li>
                <li>Username</li>
                <li>Branch</li>
                <li>Job title</li>
                <li>Email</li>
                <li>Telephone</li>
            </ul>

        </div>
    </section>


</div>
{% endblock %}