/* GLOBALES */
:root {
    --colorBackGround: #5850EC;
    --dirFondo: #99B9E8;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--dirFondo);
}


.wrapper {
    margin-left: 2.5%;
    width: 95%;
    border-radius: 5%;
}
.wrapper--login {
    margin-left: 2.5%;
    width: 95%;
    border-radius: 5%;
}


/* HEADER */

nav {}

.nav__logo {
    width: 100%;
    height: 100%;
}

.nav__menu {}

/* LOGIN */

.login {
    max-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.login__img {
    max-width: 80%;
}


.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 760px) {
    .login {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .login__img {
        max-width: 100%;
    }

    .login__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


/* TARJETAS */
/* TARJETAS */
.contenido {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 225px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 10px;
    padding: 20px;
}

/* .ContTarjeta {
    padding: 50px;
    scroll-snap-align: start;
    border-radius: 50px;
    width: 100%;
    height: 278px;
    
  } */

.tarjeta {
    padding: 50px;
    text-align: center;
    scroll-snap-align: start;
    border-radius: 50px;
    width: 572px;
    height: 172px;
    border-radius: 20%;
    cursor: pointer;
}

.tarjeta h2 {
    margin-top: -40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}


a>p {
    text-transform: none;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.tarjeta:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/index1.jpg");
    background-position: center center;
}

.tarjeta:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/barrasdesignsScreenshot.png");
    background-position: center center;
}


.tarjeta:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mFrutosScreenShot.png");
    background-position: center center;
}


.tarjeta:nth-child(4) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/JanRadaScreenShot.png");
    background-position: center center;
}


.tarjeta:nth-child(5) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/PensioneConsultoria.png");
    background-position: center center;
}



@media (max-width: 768px) {}

/* TERMINA TARJETAS */

/* DIRECTORIO */
.dirContainer {
    width: 100%;
    height: 300px;
    background-color: var(--dirFondo);
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 10px;
}

/* .directorio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
} */
.directorio__titulo {
    display: flex;
    justify-content: center;
}

.directorio__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}