{%extends "components/layout.html" %}
{% block content %}

<body>
    <div class="mainContainer">


        <!-- Sidenav -->
        <div class="sidenav">
            <div class="profile">

                <div class="objectfit">
                    <img src="{{foto}}" alt="imagen_BD">" alt="Foto_Perfil">
                </div>

            </div>

            <!-- <div class="sidenav-url"> -->

            <div class="url">
                <a href="#settings">Editar</a>

            </div>
            <!-- </div> -->
        </div>
        <!-- End -->

        <!-- Main -->
        <div class="main">
            <h2>Contacto</h2>
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-pen fa-xs edit"></i>
                    <table>
                        <tbody>
                            <tr>
                                <th>Nombre:</th>
                                <td>Jorge Barrera</td>
                            </tr>
                            <tr>
                                <th>Puesto:</th>
                                <td>Senior IT Analyst</td>
                            </tr>
                            <tr>

                                <th>Ciudad:</th>
                                <td>Monterrey, México</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>jbarrera@airreyservice.com</td>
                            </tr>
                            <tr>
                                <th>Teléfono:</th>
                                <td>+52 81 15 02 89 45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
    {% endblock %}